-# .row
-#   .col-md-8
-#     %ul.nav.nav-tabs#recentTable
-#       %li.active
-#         %a{:href=>"#unread_comments", "data-toggle"=>"tab"}
-#           %span.fa.fa-comment
-#           Unread
-#       %li
-#         %a{:href=>"#all_comments", "data-toggle"=>"tab"}
-#           %span.fa.fa-comment
-#           All
-#       %li
-#         %a{:href=>"#sent_comments", "data-toggle"=>"tab"}
-#           %span.fa.fa-comment
-#           Sent
